@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Baloo+Tamma+2|Bellota+Text|Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=News+Cycle&family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Oxanium",'Bellota Text', cursive, sans-serif,Arial;
}
/*-------------- navigation bar start----------------------*/
.navigation-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: flex;
    background-color: rgb(203, 223, 240);
    color: rgb(121, 121, 141); ;
    z-index: 1;
    padding-right: 40px;
    box-sizing: border-box;
    top: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}
.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;  
}
.nav-links li {
    list-style: none;  
}
.nav-links li a{
    text-decoration: none;
    color: rgb(121, 121, 141); ;
    padding: 1rem;
     display: block; 
     font-size: 1.8rem;     
}
.nav-links a:hover {
    color: rgb(64, 64, 75); ;
}
  /* hamburger-menu start*/
.hamburger-button {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;      
}
.hamburger-button .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(230, 230, 230);;
    border-radius: 4px;
    background: rgb(64, 64, 75);
}
@media (max-width: 765px) {
    .navigation-bar {    
        padding-right: 20px;
    }
    .nav-links li a{
        padding: 1rem ;
        font-size: 1.5rem;           
    }
    .hamburger-button {
        width: 40px;
        height: 28px;     
    }
}
@media (max-width: 630px) {
    .hamburger-button { 
        display: flex;    
        width: 38px;
        height: 28px;      
        top: 1.2rem;
        right: 1.5rem;  
    }
    .nav-links  {     
        display: none;
        width: 100%;
    }
    .navigation-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        text-align: center;
    }
    .nav-links li a {
        padding: .5rem .5rem;
    }
    .nav-links.active {
        display: flex;
    }
}
/*----------------------------- hamburger-menu end---------------------*/

.site-wrapper{
    display: flex;
    flex-direction: column;
}
.landing-section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}
.landing-section div{
    display: flex;
    flex-direction: column;  
    align-self: center;
    align-items: center;
    position: absolute;
    top: 150px;
    height: 200px;
}
.p1{
    font-family: 'Roboto', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0;
}
.name {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 0;
}
.p2{
    font-family: 'Roboto', cursive;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.landing-image{
    position: absolute;
    bottom:0px;
}

.about-section{
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section div{
    padding: 50px 50px 30px 50px;
    width: 750px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.p-about{
    padding: 20px;
    line-height: 2rem;
}
hr{
    border: 1px solid rgb(236, 236, 236);
    width: 20%;
    align-self: center;
}

.skills-section{
    display: flex;
    flex-direction: column;
}
.h2-skills{
    align-self: center;
    margin: 20px;
    padding: 10px;
}
.skills{
    display: flex;
    justify-content: center;
    position: relative;
}
.description-div{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    align-items: center; 
    margin: 5px;
    box-shadow: 2px 5px 10px rgb(228, 228, 228);
}
.design-description{
   height: 500px;
   background-color: rgb(243, 243, 243);
   border: 1px solid rgb(228, 228, 228);
}
.front-end-description{
    height: 600px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(228, 228, 228);
 }
.learning-description{
    height: 500px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(228, 228, 228);
}
.description-div i{
    font-size: 3rem;
    padding: 40px ;
}
.description-div h3{
    padding: 10px;
    font-size: 1.6rem;
}
.description-div p{
    line-height: 2rem;
    font-size: 1.1rem;
}
.description-div h4{
    padding: 1rem;
    font-size: 1.3rem;
    text-decoration: underline;
}
.p-description{
    padding: 10px 50px;
}
.p-languages{
    align-self: center;
}
.dev-tools-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dev-tools-wrapper h5{
    font-size: 1.3rem;
    text-decoration: underline;
    padding: 20px 0px 10px 0;
}
.projects-section{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(231, 231, 231);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}
.projects-holder{
    background-color: rebeccapurple;
}

footer{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 223, 240);
}
.p1-footer{
    font-size: 1rem ;
    padding: 0 20px;
    display: flex;
    align-items: center;
   }

@media (max-width: 1474px){
    .skills{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .description-div{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 30%;
        align-items: center; 
        margin: 5px;
    }
    .design-description{
       height: 400px;
    }
    .front-end-description{
        height: 550px;
     }
    .learning-description{
        height: 400px;
    }
    .description-div i{
        font-size: 2rem;
        padding: 20px 0 20px 0 ;
    }
    .description-div h3{
        padding: 5px;
        font-size: 1.4rem;
    }
    .description-div p{
        line-height: 1.8rem;
        font-size: 1rem;
    }
    .description-div h4{
        padding: 1rem;
        font-size: 1.3rem;
        text-decoration: underline;
    }
    .p-description{
        padding: 10px 40px;
    }
    .p-languages{
        align-self: center;
    }
    .dev-tools-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dev-tools-wrapper h5{
        font-size: 1.3rem;
        text-decoration: underline;
        padding: 20px 0px 10px 0;
    }
}

@media (max-width: 1070px){
    .description-div{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 30%;
        align-items: center; 
        margin: 4px;
    }
    .design-description{
        height: 380px;
     }
     .front-end-description{
         height: 500px;
      }
     .learning-description{
         height: 380px;
     }
    .description-div i{
        font-size: 1.8rem;
        padding: 20px 0 20px 0 ;
    }
    .description-div p{
        line-height: 1.6rem;
        font-size: 1rem;
    }
    .p-description{
        padding: 10px 25px;
    }
}

@media (max-width: 900px){
    .landing-image{
        transform: scale(0.8);
        position: absolute;
        bottom: -5px;
    }
    .about-section div{
        padding: 50px 0px 30px 0px;
        /* width: 650px; */
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
    }
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .description-div{
        display: flex;
        flex-direction: column;
        width: 65%;
        align-items: center; 
    }
    .design-description{
       height: 350px;
    }
    .front-end-description{
        height: 550px;
     }
    .learning-description{
        height: 400px;
    }
    .description-div i{
        font-size: 2rem;
        padding: 20px 0 20px 0 ;
    }
    .description-div h3{
        padding: 10px;
        font-size: 1.4rem;
    }
    .description-div p{
        line-height: 1.8rem;
        font-size: 1.1rem;
    }
    .description-div h4{
        padding: 1rem;
        font-size: 1.3rem;
        text-decoration: underline;
    }
    .p-description{
        padding: 10px 50px;
    }
    .p-languages{
        align-self: center;
    }
    .dev-tools-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dev-tools-wrapper h5{
        font-size: 1.3rem;
        text-decoration: underline;
        padding: 20px 0px 10px 0;
    }
}

@media (max-width: 720px){
    .about-section div{
        padding: 30px 0px 30px 0px;
        width: 600px;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 635px){
    .landing-image{
        transform: scale(0.6);
        position: absolute;
        bottom: -40px;
    }
    .about-section div{
        padding: 20px 0px 20px 0px;
        width: 500px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 495px){
    .landing-image{
        transform: scale(0.5);
        position: absolute;
        bottom: -40px;
    }
    .about-section div{
        padding: 15px 0px 15px 0px;
        width: 420px;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
    }
    .p-about{
        color: black;
        padding: 20px;
        line-height: 1.8rem;
    }
    hr{
        width: 20%;
        align-self: center;
    }
    .description-div{
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center; 
    }
    .design-description{
       height: 350px;
    }
    .front-end-description{
        height: 550px;
     }
    .learning-description{
        height: 400px;
    }
    .description-div i{
        font-size: 1.8rem;
        padding: 15px 0 15px 0 ;
    }
    .description-div h3{
        padding: 10px;
        font-size: 1.4rem;
    }
    .description-div p{
        line-height: 1.8rem;
        font-size: 1rem;
    }
    .description-div h4{
        padding: 1rem;
        font-size: 1.3rem;
        text-decoration: underline;
    }
    .p-description{
        padding: 10px 50px;
    }
    .p-languages{
        align-self: center;
    }
    .dev-tools-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dev-tools-wrapper h5{
        font-size: 1.3rem;
        text-decoration: underline;
        padding: 20px 0px 5px 0;
    }
    footer{
        font-size: 0.8rem;
        height: 50px;
    }
}
@media (max-width: 420px){
    .landing-image{
        transform: scale(0.4);
        position: absolute;
        bottom: -60px;
    }
    .p1{
        font-family: 'Roboto', cursive;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .name {
        font-family: 'Indie Flower', cursive;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .p2{
        font-family: 'Roboto', cursive;
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
    }
    .about-section div{
        width:99%;
    }
}
@media (max-width: 374px){
    .landing-image{
        transform: scale(0.4);
        position: absolute;
        bottom: -60px;
    }
    .p1{
        font-family: 'Roboto', cursive;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .name {
        font-family: 'Indie Flower', cursive;
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: 0;
    }
    .p2{
        font-family: 'Roboto', cursive;
        font-size: 1.6rem;
    }
    .description-div{
        width: 95%;
    }
    .p-description{
        font-size: 0.9rem;
        padding: 10px 15px;
    }

}